/* ## Button Styles --------------------------------------------- */

.button {
  @include rem(font-size, $small);
  background-color: $red;
  border: 0;
  color: $white;
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 16px 24px;
  text-decoration: none;
  white-space: normal;
  width: auto;
}

.button:hover,
.button:focus {
  background-color: $black;
  color: $white;
}

.button-small {
  padding: 8px 12px;
}

.site-container .button:disabled,
.site-container .button:disabled:hover {
  background-color: $light-gray;
  border-width: 0;
  color: $dark-gray;
  cursor: not-allowed;
}
